extends base

mixin quizCard(title, description, slug, img, author, authorImg)
   .quiz-card
      img.quiz-image(src=`/img/${img}`, alt="Imagem do Quiz")
      h2= title
      p= description
      .author-info
        img.author-image(src=`/img/${authorImg}`, alt="Imagem do Autor")
        span Autor: #{author}
      a.start-btn(href=`/quiz/${slug}`) Iniciar



block content
    main
      .quiz-container
        each quiz in quizzes
          +quizCard(quiz.name, quiz.description, quiz.slug, quiz.image_cover, quiz.author_name, quiz.photo)
      .pagination-container
        if page > 1
          a.pagination-button(href=`${page - 1 < 2 ? '/':`/?page=${page - 1}`}`) Previous
      
        if !lastPage
          a.pagination-button(href=`/?page=${page + 1}`) Next
       
