extends base

mixin quizQuestion(question, answers, correctAnswer, index)  
  .quiz-question-container.hidden(data-correct=`${correctAnswer}` data-index=`${index}`)
            h2= question
            .quiz-options
                each answer,i in answers
                  .quiz-option(data-answer=`${i}`)= answer         

block content
    main(data-quizid=`${quizId}`)
        .progress-indicator
        //- each question,i in quiz.questions
        //-     .question-indicator= i + 1
        .quiz-question-container(data-correct=`${quizQuestions[0].correct_answer}` data-index='0')
            h2= quizQuestions[0].question
            .quiz-options
                each answer,i in quizQuestions[0].all_answers
                  .quiz-option(data-answer=`${i}`)= answer
        each question,i in quizQuestions
          if i > 0
             +quizQuestion(question.question, question.all_answers, question.correct_answer, i)
        .completion-card.hidden
            h2 Parabéns!
            p Você completou o quiz.
            a.action-btn(href=`/quiz/${slug}`) Reiniciar
            a.action-btn(href='/') Voltar para Início
